.home-gallery-cover{
    flex: 1 1 300px;
    overflow: hidden;
    position: relative;
}

.home-gallery-cover-image{
    width: 100%;
    height: 100%;
}

.home-gallery-cover-overlay{
    transition: bottom 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    bottom: -120px;
    height: 120px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    background: black;
    color: white;
    opacity: .9;
}

.home-gallery-cover:hover .home-gallery-cover-overlay{
    bottom: 0;
}

@media(min-width: 1185px){
    .home-gallery-cover{
        flex: 1 1 33%;
    }
}