.movie-detail {
    height: 100vh;
    background-size: 100%;
}

.movie-detail-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-detail-information-synopsis{
    flex: 1 1 220px;
    padding: 10px 30px;
}

.movie-detail-information-image{
    flex: 1 1 400px;
    max-width: 450px;
    padding: 20px;
}

.movie-detail-information-image img {
    width: 100%;
}

@media(min-width: 900px){
    .movie-detail-information-synopsis{
        margin-top: 70px;
    }
}

.play-button {
    display: inline-block;
    border-top: 15vw solid transparent;
    border-bottom: 15vw solid transparent;
    border-left: 50vw solid black;
    transition: border-width 500ms;
}

.play-button:hover {
    /* border-width: 80vh 26vh; */
    border-top-width: 18vw;
    border-left-width: 60vw;
    border-bottom-width: 18vw;
}