.movie-detail-information{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-detail-information-synopsis{
    flex: 1 1 220px;
    padding: 10px 30px;
}

.movie-detail-information-image{
    flex: 1 1 400px;
    max-width: 450px;
    padding: 20px;
}

.movie-detail-information-image img {
    width: 100%;
}

@media(min-width: 900px){
    .movie-detail-information-synopsis{
        margin-top: 70px;
    }
}