.menu {
    position: absolute;
    top: 0;
    left: -30%;
    z-index: 1;
    height: 100%;
    width: 30%;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #818181;
    z-index: 2;
    /* padding: 5px 2px; */
    border-radius: 50%;
    padding: 12px 10px;
    transition: left 0.5s ease-in;
    width: 35px;
}

.menu-bar-line {
    height: 5px;
    background-color: black;
    margin: 2.5px 0;
}

.menu-bar-line:nth-child(1), .menu-bar-line:nth-child(3) {
    transition: transform 500ms;
}

.menu-bar-open .menu-bar-line:nth-child(1),  .menu-bar-open .menu-bar-line:nth-child(3){
    transition: transform 500ms 500ms;
}

.menu-bar-open .menu-bar-line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-bar-line:nth-child(2) {
    width: 100%;
    transition: width 500ms 500ms;
}
.menu-bar-open .menu-bar-line:nth-child(2) {
    width: 0%;
    transition: width 500ms;
}

.menu-bar-open .menu-bar-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

@media(min-width: 800px) {
    .menu-panel {
        position: absolute;
        height: 100%;
        background-color: #3b3b3b;
        transition: left 1s linear;
        width: 40vw;
    }   
    .menu-panel-show {
        left: 100%;
    }
    .menu-panel-hide {
        left: -130%;
    }
}

@media(max-width: 799px) {
    .menu-panel {
        position: absolute;
        height: 100%;
        background-color: #3b3b3b;
        transition: left 1s linear;
        width: 100vw;
    }   
    .menu-panel-show {
        left: 100%;
    }
    .menu-panel-hide {
        left: -100vw;
    }
}