.menu {
    position: absolute;
    top: 0;
    left: -30%;
    z-index: 1;
    height: 100%;
    width: 30%;
}

.menu-bar {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #818181;
    z-index: 2;
    padding: 10px 5px;
    border-radius: 50%;
    height: 25px;
    width: 35px;
    transition: left 0.5s ease-in;
}

.menu-bar .menu-image-svg {
    height: 100%;
    width: 100%;
}

.menu-bar:hover .menu-image-svg {
    /* transition: transform */
}

.menu-image-svg rect {
    transition-timing-function: ease-in-out;
}
.menu-image-svg rect:nth-child(3) {
    transition: width 0.5s 1.4s;
}

.menu-image-svg rect:nth-child(2), .menu-image-svg rect:nth-child(4) {
    transition: transform 0.5s 0.9s;
}

.menu-bar-open .menu-image-svg rect:nth-child(3) {
    transition: width 0.5s 0.9s;
    width: 0%;
}

.menu-bar-open .menu-image-svg rect:nth-child(2) {
    transform-origin: 50% 0%;
    transform: translate(0px, 40%) rotate(45deg);
    transition: transform 0.5s 1.4s;
}

.menu-bar-open .menu-image-svg rect:nth-child(4) {
    transform: translate(0px, -40%) rotate(-45deg);
    transition: transform 0.5s 1.4s;
    transform-origin: 50% 100%;
}

.menu-bar-open {
    left: 185%;
    transition-delay: 0.4s;
}


.menu-panel {
    position: relative;
    height: 100%;
    background-color: #3b3b3b;
    transition: left 1s linear;
}

.menu-panel-hide {
    left: -130%;
}

.menu-panel-show {
    left: 100%;
}