.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*mobile devices*/
@media(max-width: 505px){
  .row .column{
    height: 133vw;
    overflow: hidden;
  }
  
  .row .column img{
    width: 100%;
    height: 100%;
  }
  
  .row .column .title{
    position: relative;
    color: aqua;
    cursor: default;
    font-size: 10vw;
    opacity: 0.1;
    background: black;
    height: 50vw;
    bottom: 0;
  }

  .row .column:hover .title{
    bottom: 26vw;
    opacity: 0.8;
    transition: bottom 1s, opactity 0.5s, tansform 1s;
  }
}

/*Computer/Laptop*/
@media(min-width: 506px){
  .row{
    display: flex;
    height: 43.7vw;
    overflow: hidden;
    
  }


  .row .column{
    /*flex: 1;*/
  }

  .row .column:hover .title{
    bottom: 10.8vw;
    opacity: 0.7;
    transition: bottom 2s, opacity 1s, transform 2s;
    font-size: 3vw;
  }

  .row .column .title{
    background: black;
    position: relative;
    bottom: 0;
    height: 11vw;
    opacity: 0.1;
    color: white;
    overflow: hidden;
    cursor: default;
  }
  img {
    max-width: 100%;
    height: 100%;
  }
}



/*********** add title *************/
/* .row .column .title{
  position: relative;
  bottom: 25vw;
  color: aquamarine;
  font-style: oblique;
  font-size: 3vw;
  cursor: default;
}

.row {
  display: flex;
  height: 43.1vw;
}

.column {
  flex: 1;
  height: 471px;
}

img {
  max-width: 100%;
} */



/************    table version   ***********************/

/* .App .movies-table{
  margin-left: 330px;
}

.App .movies-table tr, .App .movies-table tr div{
  display: flex;
}

.App .movies-table .App-title{

}

.App .movies-table div{
  flex-direction: column;
}

.App .movies-table img{
  height: 300px;
  width: 250px;
} */