.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.row .column .title{
  position: relative;
  bottom: 25vw;
  color: aquamarine;
  font-style: oblique;
  font-size: 3vw;
  cursor: default;
}

.row {
  display: flex;
  height: 43.1vw;
}

.column {
  flex: 1;
  height: 471px;
}

img {
  max-width: 100%;
}



/* .App .movies-table{
  margin-left: 330px;
}

.App .movies-table tr, .App .movies-table tr div{
  display: flex;
}

.App .movies-table .App-title{

}

.App .movies-table div{
  flex-direction: column;
}

.App .movies-table img{
  height: 300px;
  width: 250px;
} */